# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Go build binaries
backend/cmd/api/api
backend/cmd/seeder/seeder

# Frontend build & dependencies
frontend/node_modules/
frontend/dist/
backend/cmd/api/dist/

# Agent customizations
.agents
AGENT.md
